* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 211, 211);
}
.nav {
    display: flex;
    width: 100%;
    background-color: rgb(50, 81, 219);
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 5rem;
    object-fit: contain;
    margin-left: 3rem;
    transform: scale(3);
}

.search {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 3rem;
    justify-content: center;
    align-items: center;
}

.search input {
    height: 2.25rem;
    padding-left: 0.75rem;
    outline: none;
    border-radius: 3rem;
    min-width: 200px;
    flex: 0.5;
    border: 1px solid grey;
    font-size: 1.25rem;
}

.searchIcon {
    display: flex;
    position: relative;
    left: -2rem;
    cursor: pointer;
}

.cartIcon  {
    padding-right: 3rem;
}

