.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 1rem 0;
    border-radius: 0.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 1rem 0;
    border-radius: 0.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img {
    height: 10rem;
    width: 8rem;
    border-radius: 3px;
}
.row img {
    height: 10rem;
    width: 8rem;
    border-radius: 3px;
}

.card h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.row h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.card p {
    font-size: 1rem;
    font-weight: 500;
}

.row p {
    font-size: 1rem;
    font-weight: 500;
}

.card button {
    width: 200px;
    margin: 0 1rem;
    height: 3rem;
    text-align: center;
    background-color: rgb(247, 182, 43);
    border-radius: 3rem;

}
.row button {
    width: 200px;
    margin: 0 1rem;
    height: 3rem;
    text-align: center;
    background-color: rgb(247, 182, 43);
    border-radius: 3rem;
}

.show {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem 0rem;
    overflow: hidden;
    overflow-x: scroll;
    background-color: black;
}

.show::-webkit-scrollbar {
    display: none;
}